/* 自定义主题颜色 */
:root>* {
  --md-primary-fg-color: #4482b4;
  --md-primary-fg-color--light: #4482b4;
  --md-primary-fg-color--dark: #0d314f;

}

.md-header__ellipsis .md-header__topic:nth-child(1) .md-ellipsis {
  /* 最上方标题的样式 */
  font-size: 18px;
  /* 增大字体大小 */
  font-family: "Noto Serif SC"
}

li.md-tabs__item {
  /* 最上面一级目录的样式 */
  /* 修改字体 */
  font-family: "Noto Serif SC", system-ui;
  font-weight: 600;
  color: whitesmoke;
}

/************ 总体下方目录样式设置***********/
/* 左侧目录 小标题样式 */
div>a>span.md-ellipsis {
  font-size: 17.5px;
  font-weight: bold;
  margin-bottom: 1px;
}

span.md-ellipsis {
  font-size: 16px;
}

li.md-nav__item {
  /* 下方目录样式设置*/
  /* 修改字体 */
  font-family: LXGW WenKai;
  font-size: 11.5px;
  font-weight: 500;

}

/************* 折叠块标题 *************/
.tabbed-labels label {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  /* 粗体 */
  font-size: 16.5px;
  /* 设置字体大小 */
}

/************* 警示部分样式设置 ********/
.admonition p>code {
  font-size: 13px;
  /* 较小的字体大小，相对于全局设置 */
}

.admonition p {
  font-size: 13.2px;
  /* 较小的字体大小，相对于全局设置 */
}


/* #######修改特定语言代码块的背景和字体颜色########## */
/* 参数颜色 */
.highlight .nv {
  color: #cd8468;
  /* 橙色 */
}

/* 文件名和路径 */
.highlight .fm {
  color: #dcdcaa;
  /* 黄色 */
}

/* 注释 */
.highlight .c,
.highlight .cm,
.highlight .c1 {
  /* color: #6a9955; 绿色 */
  /* font-style: italic; */
}


/************** 自定义的一些字体样式 ************/
/* 定义一个类，用于设置样式 */
.ct {
  font-size: 20px;
  /* 字体大小 */
  font-family: "LXGW WenKai", sans-serif;
  /* 字体类型 */
  font-weight: bold;
  /* 字体加粗 */
  /* text-transform: uppercase; 字母大写 */
  text-align: center;
  /* 居中对齐 */
}